.PatientItem {
	display: flex;
	flex-direction: column;
	margin-top: 43px;
	width: 578px;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;

	h3 {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 30px;
		line-height: 1.166667;
		text-align: center;
		color: #028CA6;
	}

	.image {
		position: relative;
		width: 300px;
		height: 300px;
		&:hover {
			cursor: pointer;
		}
		&.active {
			border: 2px solid #068CA6;
			border-radius: 10px;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			
		}
	}

	ul {
		margin-top: 28px;
		list-style: none;
		font-size: 21px;
		line-height: 1.2857;
		display: flex;
		flex-direction: column;

		li {
			background: rgba(255, 255, 255, 0.7);
			border: 2px solid #068CA6;
			box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
			border-radius: 10px;
			padding: 15px;
			text-align: left;
		}
		li:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	
	&_mobile {
		display: flex;
		flex-direction: column;
		margin-top: 43px;
		width: 380px;
		height: 100%;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;

		h3 {
			margin-bottom: 20px;
			font-weight: 700;
			font-size: 30px;
			line-height: 1.166667;
			text-align: center;
			color: #028CA6;
		}

		.image {
			position: relative;
			width: 300px;
			height: 300px;
			&:hover {
				cursor: pointer;
			}
			&.active {
				border: 2px solid #068CA6;
				border-radius: 10px;
			}
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				
			}
		}

		ul {
			margin-top: 28px;
			list-style: none;
			font-size: 21px;
			line-height: 1.2857;
			display: flex;
			flex-direction: column;

			li {
				background: rgba(255, 255, 255, 0.7);
				border: 2px solid #068CA6;
				box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
				border-radius: 10px;
				padding: 15px;
				text-align: left;
			}
			li:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	
}


